* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 10vh 100vh 1fr 1fr;
}

nav {
  font-size: 2rem;
  display: grid;
  grid-template-rows: 1fr;
}

.navlist {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
}

.nav_list-item {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 10rem;
  color: #181818;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

a,
a:visited {
  color: palevioletred;
}

a:hover {
  color: powderblue;
}

#intro {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: column wrap;
  /* background-color: lightslategray; */
  padding: 4em;
  font-size: 3.8rem;
}

.intro_couplet {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  line-height: 5rem;
  position: relative;
}
.intro-left {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

#social-button-wrapper {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

#social-button-wrapper a {
  height: 10vh;
  width: 10vh;
  margin: 50px;
}

#short-bio {
  position: relative;
  font-size: 3rem;
  line-height: 6vh;
}

.listbar {
  display: grid;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .listbar {
    grid-template-columns: 1fr 3fr;
  }
  .hobbytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", Helvetica, Times, serif;
    display: inline-block;
  }
  p,
  div {
    font-family: "Nobile", Helvetica, Arial, sans-serif;
  }

  #logo {
    min-width: 200px;
    min-height: 200px;
  }

  .intro_couplet {
    grid-template-columns: 1fr 3fr;
  }
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
